{% extends 'Master\navbar.html' %}
{% load static %}
{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/content.css' %}">
</head>

<body>
    <div id="content" class="p-4 p-md-5 pt-5">
        <table class="table p-4 p-md-5 pt-5">
            <thead>
                <tr>
                    <th scope="col">Name </th>
                    <th scope="col">Current HOD</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key in hod %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>
                        {{ key.HOD}} 
                    </td>
                    <td><button class="btn btn-info">Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}