{% extends 'Master\navbar.html' %}
{% load static %}
{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/content.css' %}">
</head>

<body>
    <table class="p-4 p-md-5 pt-5" style="border: 2px; border-style: solid;">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name </th>
                <th>Current HOD</th>
            </tr>
        </thead>
        <tbody>
            {% for key in hod %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ key.name }}</td>
                <td>
                    <select name="teachers" id="teachers">
                        {% for teacher in teachers %}
                        {% ifequal teacher.department key %}
                        {% ifequal teacher.full_name key.HOD %}
                        <option value="{{teacher.id}}" selected>
                            {{teacher.full_name}}
                        </option>
                        {% else %}
                        <option value="{{teacher.id}}">
                            {{teacher.full_name}}
                        </option>
                        {% endifequal %}
                        {% endifequal %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}