h1{
    font-size: 3vmin;
}

.m{
    margin-top: 1vmax;
}

.cunt{
    background-color:lightgray;
    height: 50vmin;
    width: 60vmin;
}

.log{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7vmin;
}

.form-control{
    font-size: 5vmin;
}

.btn{
    font-size: 4vmin;
    width: 100%;
}

.fas{
    font-size: 5vmin;
}

.btn-primary:hover{
    background: #f7f7f7;
    color: #0275d8;
}
