#content {
    width: 100%;
}

.avatar {
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
}

#sidebar {
    background: #494ca2;
    color: #fff;
    height: 782px;
}

#sidebar h1 {
    margin-bottom: 3vmin;
    font-size: 6vmin;
    font-weight: 700;
}


#sidebar ul li ,.btn{
    font-size: 3vmin;
}

#sidebar ul li a{
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}