* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.nav {
    overflow: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292B2C;
    opacity: 0.9;
    padding-top: 30px;
    transition: 0.7s;
}

.nav .avatar {
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
}

.nav h2 {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #A1A3A5;
}

.nav a {
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    color: #A1A3A5;
    border-bottom: 2px solid #76787A;
}

.nav a:hover {
    color: #CED0D2;
    transition: 0.4s;
}

.nav .act {
    color: #CED0D2;
}

.slide {
    background-color: #292B2C;
    color: #A1A3A5;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.slide:hover {
    color: #CED0D2;
    transition: 0.4s;
    outline: none;
}

.slide:focus {
    outline: none;
    border: none;
}

#content {
    padding: 5px;
    transition: margin-left 0.7s;
    width: 100%;
}