#content {
    width: 100%;
}

.avatar {
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
}

#sidebar {
    max-width: 250px;
    background: #494ca2;
    color: #fff;
    height: 700px;
}

#sidebar h1 {
    margin-bottom: 3vmin;
    font-size: 5vmin;
    font-weight: 700;
}

#sidebar ul li, .logout {
    font-size: 3vmin;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    #sidebar {
        max-width: 50px;
    }
}

@media only screen and (max-width: 480px) {
    #sidebar {
        max-width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    #sidebar {
        max-width: 90px;
    }
}

@media only screen and (max-width: 768px) {
    #sidebar {
        max-width: 110px;
    }
}

@media only screen and (max-width: 860px) {
    #sidebar {
        max-width: 130px;
    }
}

@media only screen and (max-width: 900px) {
    #sidebar {
        max-width: 150px;
    }
}

@media only screen and (max-width: 1024px) {
    #sidebar {
        max-width: 170px;
    }
}

@media only screen and (max-width: 1200px) {
    #sidebar {
        max-width: 190px;
    }
}