body {
    overflow: hidden;
}

th {
    position: sticky;
    top: 0;
}

.table {
    position: relative;
    border-collapse: collapse;
}

.contain {
    width: 100%;
    height: 550px;
    overflow-x: scroll;
    overflow-y: scroll;
}

tr:hover {
    cursor: pointer;
    background-color: #C8CBCC !important;
}

.navbar {
    background-color: #292B2C;
}

.navbar button {
    display: block;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    background: transparent;
    outline: transparent;
    border: none;
    color: #A1A3A5;
}

.navbar button:hover {
    background-color: #A1A3A5;
    color: #292B2C;
    transition: 0.4s;
}

.navbar .act {
    color: #A1A3A5;
    background-color: #292B2C;
}

.modal-body #stuDet {
    display: none;
}

.modal-body #parDet {
    display: none;
}

.modal-body #marDet {
    display: none;
}

.modal-body hr {
    width: 100%;
    border: 1px solid #4E5051 !important;
    size: 5;
}

.container .h6 {
    font-weight: 400;
}

.modal-header .close {
    font-size: 30px;
}
