th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table {
    position: relative;
    border-collapse: collapse;
}

.contain {
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

tr:hover{
    cursor: pointer;
    background-color: slategray !important;
}