{% extends 'Master\navbar.html' %}
{% load static %}
{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/role.css' %}">
</head>

<body>
    <div id="content" class="p-4 p-md-5 pt-5">
        <table class="table p-4 p-md-5 pt-5">
            <thead>
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Current Teacher</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Upload Student Data</td>
                    <td>{{ can_upload }}</td>
                    <td><button class="btn btn-info edit" data-toggle="modal" data-target="#edit" onclick="set('can_upload_students')">Edit</button></td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td>Assign mentors</td>
                    <td>{{ can_assign }}</td>
                    <td><button class="btn btn-info edit" data-toggle="modal" data-target="#edit" onclick="set('can_assign_mentors')">Edit</button></td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div id="edit" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Edit</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="sea"><span class="fas fa-search"></span></span>
                            </div>
                            <input type="search" class="form-control" placeholder="Search here ..." id="search"
                                onkeyup="search(this.value)">
                        </div>
                        <input type="hidden" id="perm">
                        <div class="input-group">
                            <label for="hods" class="col-6 mt-2 mb-2">Name</label>
                            <select class="form-control teachers" placeholder='Select one name'>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id='updatePerm'>Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/Role.js' %}"></script>
{% endblock %}