{% extends 'Master\navbar.html' %}
{% load static %}

{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/notification.css' %}">
</head>

{% if students %}
Receiver
<select id="receiver" multiple='multiple'>
    {% for key in students %}
    <option value="{{key.urn}}">{{key.full_name}}</option>
    {% endfor %}
</select><br>
<button type="submit" id="mail">Notify</button>

<body>
    <div class="container">
        <div class="form-row mb-3">
            <label for="to" class="col-2 col-sm-1 col-form-label">To:</label>
            <div class="col-10 col-sm-11">
                <button type="submit" class="form-control curse" id="to" data-toggle="modal" id='to'
                    data-target="#too"></button>
            </div>
        </div>
        <div class="offset-1">
            <div class="form-group mt-4">
                <textarea class="form-control" id="message" name="body" rows="12"
                    placeholder="Type message here"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><span class="fas fa-paper-plane mr-2"></span>Send</button>
    </div>
    <div id="too" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Select Receiver</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mt-3 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sea"><span class="fas fa-search"></span></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search here ..." id="search">
                    </div>
                    <button type="submit" class="togfil"><i class="fas fa-filter"></i></button>
                    <div class="contain">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <th class="align-middle">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="selectall">
                                        <label class="form-check-label" for="selectall">
                                            Select all
                                        </label>
                                    </div>
                                </th>
                                <th class="align-middle text-center">U.R.N.</th>
                                <th class="align-middle text-center">C.R.N.</th>
                                <th class="align-middle text-center">Name</th>
                                <th class="align-middle text-center">Gender</th>
                                <th class="align-middle text-center">D.O.B.</th>
                                <th class="align-middle text-center">Father's Name</th>
                                <th class="align-middle text-center">Mother's Name</th>
                                <th class="align-middle text-center">Contact Number</th>
                                <th class="align-middle text-center">Email-ID</th>
                                <th class="align-middle text-center">Blood Group</th>
                                <th class="align-middle text-center">Category</th>
                                <th class="align-middle text-center">Living</th>
                                <th class="align-middle text-center">10th Percentage</th>
                                <th class="align-middle text-center">12th Percentage</th>
                                <th class="align-middle text-center">Diploma Percentage</th>
                                <th class="align-middle text-center">Aggregate SGPA</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><input type="number" name="" id=""></td>
                                    <td><input type="number" name="" id=""></td>
                                    <td><input type="text" name="" id=""></td>
                                    <td><select name="" id="">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><select name="" id="">
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select></td>
                                    <td><select name="" id="">
                                            <option value="General">General</option>
                                            <option value="SC">S.C.</option>
                                            <option value="ST">S.T.</option>
                                            <option value="OBC">O.B.C.</option>
                                        </select></td>
                                    <td><select name="" id="">
                                            <option value="DAY SCHOLAR">Day Scholar</option>
                                            <option value="HOSTELLER">Hosteller</option>
                                        </select></td>
                                    <td><input type="number" name="" id=""></td>
                                    <td><input type="number" name="" id=""></td>
                                    <td><input type="number" name="" id=""></td>
                                    <td><input type="number" name="" id=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id='updateHod'>Update</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% else %}
<h1>No students are being mentored by you</h1>
{% endif %}

<script src="{% static 'js/notification.js' %}"></script>

{% endblock %}