{% extends 'Master\navbar.html' %}
{% load static %}

{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/students.css' %}">
</head>

<body>
    <div id="content">
        <div class="d-flex justify-content-around mt-5">
            <div class="input-group col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sea"><span class="fas fa-search"></span></span>
                </div>
                <input type="search" class="form-control" placeholder="Search here ..." onkeyup="searchStu(this.value)">
            </div>
            <button type="submit" id="downloadStu" class="btn btn-primary">Download as Excel</button>
        </div>
        <div class="container-fluid contain mt-5">
            <table class="table table-striped" id='stusearch'>
                <thead class="thead-dark">
                    <th>U.R.N.</th>
                    <th>C.R.N.</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Contact Number</th>
                    <th>Email-ID</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="data" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title"></h1>
                        <button type="submit" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        searchStu();
    });
</script>

{% endblock %}