{% extends 'Master\navbar.html' %}
{% load static %}

{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/students.css' %}">
</head>

<body>
    <div id="content">
        <div class="d-flex justify-content-around mt-5">
            <div class="input-group col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sea"><span class="fas fa-search"></span></span>
                </div>
                <input type="search" class="form-control" placeholder="Search here ..." onkeyup="searchStu(this.value)">
            </div>
            <button type="submit" id="downloadStu" class="btn btn-primary">Download as Excel</button>
        </div>
        <div class="container-fluid contain mt-5">
            <table class="table table-striped" id='stusearch'>
                <thead class="thead-dark">
                    <th>U.R.N.</th>
                    <th>C.R.N.</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Contact Number</th>
                    <th>Email-ID</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="data" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title"></h1>
                        <button type="submit" class="close" data-dismiss="modal" aria-label="close" onclick="closeStudent()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="navbar d-flex justify-content-center">
                            <button class="mr-2" id="studDet">Personal Details</button>
                            <button class="mr-2" id="pareDet">Parent's Details</button>
                            <button id="markDet">Marks Details</button>
                        </div>
                        <div class="container mt-5">
                            <div id="Details" class="row"></div>
                            <div id="stuDet">
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Name</h6>
                                    <span id="full_name"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Gender</h6>
                                    <span id="gender"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>University Roll Number</h6>
                                    <span id="urn"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Class Roll Number</h6>
                                    <span id="crn"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Father's Name</h6>
                                    <span id="Father_name"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Mother's Name</h6>
                                    <span id="Mother_name"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Contact Number</h6>
                                    <span id="Contact"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>E-Mail ID</h6>
                                    <span id="email"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Blood Group</h6>
                                    <span id="blood_group"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Category</h6>
                                    <span id="category"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Height (cm)</h6>
                                    <span id="height"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Weight (cm)</h6>
                                    <span id="weight"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Branch</h6>
                                    <span id="name"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Semester</h6>
                                    <span id="batch"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Living</h6>
                                    <span id="living"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Address</h6>
                                    <span id="Address"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>City</h6>
                                    <span id="City"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>State</h6>
                                    <span id="State"></span>
                                </div>
                            </div>
                            <div id="parDet" name="parDet">
                                <div class="col-12">
                                    <h5>Father's Details</h5>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Name</h6>
                                    <span id="Father_nam"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Contact Number</h6>
                                    <span id="Father_Contact"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Occupation</h6>
                                    <span id="f_occupation"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Address</h6>
                                    <span id="f_address"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>City</h6>
                                    <span id="f_city"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>State</h6>
                                    <span id="f_state"></span>
                                </div>
                                <hr>
                                <div class="col-12">
                                    <h5>Mother's Details</h5>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Name</h6>
                                    <span id="Father_ame"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Contact Number</h6>
                                    <span id="Mother_Contact"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Occupation</h6>
                                    <span id="m_occupation"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>Address</h6>
                                    <span id="m_address"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>City</h6>
                                    <span id="m_city"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <h6>State</h6>
                                    <span id="m_state"></span>
                                </div>
                            </div>
                            <div id="marDet" name="marDet">None</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        searchStu();
    });
</script>

{% endblock %}