{% extends 'Master\navbar.html' %}
{% load static %}

{% block page %}

<img src="{% if student.photo %}Media/{{ student.photo }} {% endif %}" alt="{{student.full_name}}" height="80px"
    width="80px">

<form method="post" action='{% url "Mentor:updatedStu" %}'>
    {% csrf_token %}
    <div class="d-flex ">
        <div class="input-group justify-content-start">
            <label for="urn" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">U.R.N.</label>
            <input class="form-control urn col-lg-6 col-md-6 col-sm-12 col-xs-12" name="urn" type="number"
                value="{{ student.urn }}">
        </div>
        <div class="input-group justify-content-end">
            <label for="crn" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">C.R.N.</label>
            <input class="form-control crn col-lg-6 col-md-6 col-sm-12 col-xs-12" name="crn" type="number"
                value="{{ student.crn }}">
        </div>
    </div>
    <div class="d-flex ">
        <div class="input-group justify-content-start">
            <label for="name" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Name</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 name" name="full_name" type="text"
                value="{{ student.full_name }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="dob" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">D.O.B.</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 dob" name="dob" type="date"
                value="{{ student.dob|date:'Y-m-d'  }}">
        </div>
    </div>
    <div class="d-flex ">
        <div class="input-group justify-content-start">
            <label for="gender" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Gender</label>
            <select name="gender" class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12"
                value="{{ student.gender }}">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="living" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Living</label>
            <select name='living' class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12"
                value="{{ student.living }}">
                <option value="DAY SCHOLAR">Day Scholar</option>
                <option value="HOSTELLER">Hosteller</option>
            </select>
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="blood" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Blood Group</label>
            <select name="blood_group" id="blood" class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12"
                value="{{ student.bood_group }}">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="cate" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Category</label>
            <select name="category" id="cate" class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12"
                value="{{ student.Category }}">
                <option value="General">General</option>
                <option value="SC">S.C.</option>
                <option value="ST">S.T.</option>
                <option value="OBC">O.B.C.</option>
            </select>
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="Contact" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Contact Number</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 Contact" name="Contact" type="number"
                value="{{ student.Contact }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="email" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">E-Mail ID</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 email" name="email" type="email"
                value="{{ student.email }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="height" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Height (cm)</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 height" name="height" type="number"
                value="{{ student.height }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="weight" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Weight (kg)</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 weight" name="weight" type="number"
                value="{{ student.weight }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="Father_name" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Father's Name</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 Father_name" name="Father_name" type="text"
                value="{{ student.Father_name }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="Father_Contact" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Father's Contact
                Number</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 Father_Contact" name="Father_contact"
                type="number" value="{{ student.Father_contact }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="Mother_name" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Mother's Name</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 Mother_name" name="Mother_name" type="text"
                value="{{ student.Mother_name }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="Mother_Contact" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Mother's Contact
                Number</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 Mother_Contact" name="Mother_contact"
                type="number" value="{{ student.Mother_contact }}">
        </div>
    </div>
    <h1>Permanent Address</h1>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="address" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Address</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 address" name="PAddress" type="text"
                value="{{ student.PAddress }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="pin" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Pin Code</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 pin" name="PPincode" type="number"
                onkeyup="getPin(this.value,'P')" value="{{ student.PPincode }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group input-group justify-content-start">
            <label for="city" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">City</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 city" name="PCity" type="text"
                value="{{ student.PCity }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="email" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">District</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 email" name="PDistrict" type="text"
                value="{{ student.PDistrict }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group input-group justify-content-start">
            <label for="state" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">State</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 state" name="PState" type="text"
                value="{{ student.PState }}">
        </div>
        <div class="input-group input-group justify-content-start">
            <label for="" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3"></label>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
    </div>
    <hr>
    <h1>Current Address</h1>
    <div class="d-flex">
        <div class="input-group justify-content-start">
            <label for="address" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Address</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 address" name="CAddress" type="text"
                value="{{ student.CAddress }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="pin" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">Pin Code</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 pin" name="CPincode" type="number"
                onkeyup="getPin(this.value,'C')" value="{{ student.CPincode }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group input-group justify-content-start">
            <label for="city" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">City</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 city" name="CCity" type="text"
                value="{{ student.CCity }}">
        </div>
        <div class="input-group input-group justify-content-end">
            <label for="email" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">District</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 email" name="CDistrict" type="text"
                value="{{ student.CDistrict }}">
        </div>
    </div>
    <div class="d-flex">
        <div class="input-group input-group justify-content-start">
            <label for="state" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3">State</label>
            <input class="form-control col-lg-6 col-md-6 col-sm-12 col-xs-12 state" name="CState" type="text"
                value="{{ student.CState }}">
        </div>
        <div class="input-group input-group justify-content-start">
            <label for="" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3 mb-3"></label>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
    </div>
    <div class=" d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-danger">Update details</button>
    </div>

</form>

<script src="{% static 'js/updateStu.js' %}"></script>

{% endblock %}