{% extends 'Master\navbar.html' %}
{% load static %}

{% block page %}

{{ user.teacher }}

<head>
    <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">
</head>

<body>
    <div class="container">
        <ul class="list-unstyled dash row">            
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-database"></span></h1>
                    <li id="dataupload">
                        <a href="{% url 'Advisor:uploadData' %}">
                            <h1>Data upload</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% if not user.is_superuser%}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-user-graduate"></span></h1>
                    <li id="student">
                        <a href="{% url 'Mentor:students' %}">
                            <h1>Students</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% if perms.Advisor.can_assign_mentors or request.user.admin %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-users"></span></h1>
                    <li id="Mentor">
                        <a href="{% url 'Admin:mentor' %}">
                            <h1>Mentors</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% if user.admin %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-user-friends"></span></h1>
                    <li id="Role">
                        <a href="{% url 'Admin:role' %}">
                            <h1>Role</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% elif user.is_superuser %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-user-tag"></span></h1>
                    <li id="editAdmin">
                        <a href="{% url 'Super:editAdmin' %}">
                            <h1>Departments</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% else %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <span class="fas fa-bell"></span>
                    <li id="notification">
                        <a href="{% url 'Mentor:notification' %}">
                            <h1>Notification</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% endif %}
            {% if user.admin or user.is_superuser%}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-book"></span></h1>
                    <li id="subjects">
                        <a href="{% url 'Admin:subjects' %}">
                            <h1>Subjects</h1>
                        </a>
                    </li>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-3">
                <div class="board">
                    <h1><span class="fas fa-user-cog"></span></h1>
                    <li id="settings">
                        <a href="{% url 'Advisor:settings' %}">
                            <h1>Settings</h1>
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</body>

{% endblock %}