{% extends 'Master\navbar.html' %}
{% load static %}
{% block page %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/data.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.js"></script>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Upload Data</h1>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="input-group p-md-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Select a .csv file to upload</span>
                        </div>
                        <input type="file" name="data" id="data" class="form-control">
                    </div>
                    <div class="input-group p-4 mt-2 p-md-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Type of data</span>
                        </div>
                        <select name="uptype" id="uptype" class="form-control">
                            <option value="teachers">Teachers</option>
                            <option value="students">Students</option>
                            <option value="marks">Student's Marks</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="button" class="btn btn-primary" id="upload">Upload data</button>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/dataUpload.js' %}"></script>

{% endblock %}