{% extends 'Master\master.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>

<body>
    <div id="content">
        <button type="submit" class="slide" onclick="openSlideMenu()"><span class="fas fa-bars"></span></button>
        <div id="menu" class="nav">
            <button type="submit" class="close" onclick="closeSlideMenu()"><span class="fas fa-times"></span></button>
            <ul class="list-unstyled mb-5">
                <center>
                    <img src="{% static 'Images/logo.jpg' %}" alt="Avatar" class="avatar">
                    {% if user.is_superuser %}
                    <h1>Superuser</h1>
                    {% else %}
                    <h1>{{ user.teacher }}</h1>
                    {% endif %}
                </center>
                {% if user.admin %}
                <li id="Role">
                    <a href="{% url 'Admin:role' %}"><span class="fas fa-user-friends mr-2"></span> Role</a>
                </li>
                <li id="Mentor">
                    <a href="{% url 'Admin:mentor' %}"><span class="fas fa-users mr-2"></span> Mentors</a>
                </li>
                {% elif user.is_superuser %}
                <li id="editAdmin">
                    <a href="{% url 'Super:editAdmin' %}"><span class="fas fa-user-tag mr-2"></span> Edit Admins</a>
                </li>
                {% else %}
                <li id="student">
                    <a href="{% url 'Mentor:students' %}"><span class="fas fa-user-graduate mr-2"></span> Students</a>
                </li>
                {% endif %}
                <li id="dataupload">
                    <a href="{% url 'Advisor:uploadData' %}"><span class="fas fa-database mr-2"></span> Data upload</a>
                </li>
                <li id="settings">
                    <a href="{% url 'Advisor:settings' %}"><span class="fas fa-user-cog mr-2"></span> Settings</a>
                </li>
                <li>
                    <a href="{% url 'Advisor:logout' %}">{% csrf_token %}<span class="fas fa-sign-out-alt mr-2"></span>
                        Logout</a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block page %}
            {% endblock %}
        </div>
    </div>
</body>
{% endblock %}