{% extends 'Master\master.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>

<body>
    <div id="content">
        <button type="submit" class="slide" onclick="SlideMenu()"><span class="fas fa-bars"></span></button>
        <div id="menu" class="nav">
            <ul class="list-unstyled mb-5">
                <center>
                    <img src="{% if request.user.avatar %} Media/{{request.user.avatar}} {% else %} {% static 'Images/logo.jpg' %} {% endif %}"
                        alt="Avatar" class="avatar">
                    {% if user.is_superuser %}
                    <h2>Superuser</h2>
                    {% else %}
                    <h2>{{ user.teacher }}</h2>
                    {% endif %}
                </center>
                {% if user.admin or user.is_superuser%}
                <li id="subjects">
                    <a href="{% url 'Admin:subjects' %}"><span class="fas fa-book mr-2"></span> Subjects</a>
                </li>
                {% endif %}
                {% if not user.is_superuser%}
                <li id="student">
                    <a href="{% url 'Mentor:students' %}"><span class="fas fa-user-graduate mr-2"></span> Students</a>
                </li>
                {% endif %}
                {% if user.admin %}
                <li id="Role">
                    <a href="{% url 'Admin:role' %}"><span class="fas fa-user-friends mr-2"></span> Role</a>
                </li>
                <li id="Mentor">
                    <a href="{% url 'Admin:mentor' %}"><span class="fas fa-users mr-2"></span> Mentors</a>
                </li>
                {% elif user.is_superuser %}
                <li id="editAdmin">
                    <a href="{% url 'Super:editAdmin' %}"><span class="fas fa-user-tag mr-2"></span> Edit Admins</a>
                </li>
                {% else %}
                <li id="notification">
                    <a href=""><span class="fas fa-bell mr-2"></span> Notification</a>
                </li>
                {% endif %}
                <li id="dataupload">
                    <a href="{% url 'Advisor:uploadData' %}"><span class="fas fa-database mr-2"></span> Data upload</a>
                </li>
                <li id="settings">
                    <a href="{% url 'Advisor:settings' %}"><span class="fas fa-user-cog mr-2"></span> Settings</a>
                </li>
                <li>
                    <a href="{% url 'Advisor:logout' %}"><span class="fas fa-sign-out-alt mr-2"></span>
                        Logout</a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block page %}
            {% endblock %}
        </div>
    </div>
</body>
<script src="{% static 'js/Navbar.js' %}"></script>
{% endblock %}