{% extends 'Master\master.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>

<body>
    <div class=" d-flex ">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="p-4">
                <img src="{% static 'Images/logo.jpg' %}" alt="Avatar" class="avatar">
                <h1>Superuser</h1>
                <ul class="list-unstyled mb-5">
                    {% if user.admin %}
                    <li id="HOD hu">
                        <a href="#"><span class="fas fa-user-friends"></span> HOD hu</a>
                    </li>
                    {% elif user.is_superuser %}
                    <li id="editAdmin">
                        <a href="{% url 'editAdmin' %}"><span class="fas fa-user-tag mr-3"></span> Edit Admins</a>
                    </li>
                    {% endif %}
                    <li id="dataupload">
                        <a href="{% url 'uploadData' %}"><span class="fas fa-database"></span> Data upload</a>
                    </li>
                    <li id="settings">
                        <a href="{% url 'settings' %}"><span class="fas fa-user-cog mr-3"></span> Settings</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="fas fa-sign-out-alt btn btn-danger mt-5 mr-3"> Logout</button>
                        </form>
                    </li>
                </ul>

            </div>
        </nav>
        {% block page %}
        {% endblock %}
    </div>

    <script src="{% static 'js/navbar.js' %}"></script>
</body>
{% endblock %}